<div class="header">
	<div class="container d-flex justify-content-center">
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<table style=" padding-top:10%; width:100%; background-color:lightseagreen; font-size:large; margin-right:30%">  
				   
				<h1>Log In</h1>
				
			
				<div class="full-width-input">
					<input type="text" id="email" [formControlName]="'email'" placeholder="Email" class=" form-control mb-2" style="width: 300px; height: 35px;">
					<div *ngIf="loginForm.get('email').touched">
						<label *ngIf="loginForm.get('email').hasError('pattern')" style="font-size: 16px; color: red;">Invalid
							email</label>
						<label *ngIf="loginForm.get('email').hasError('required')" style="font-size: 16px; color: red;">Email
							field
							is
							required</label>
					</div>
				</div><br>
	
				
				<div>
					<input type="password" id="password" [formControlName]="'password'" placeholder="Password"
						class="form-control" style="width: 300px; height: 35px;">
					<label *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')"
						style="font-size: 16px; color: red;">Password field is required</label>
				</div><br>

				<button class="btn btn-primary btn-block" type="submit" style="width: 120px; height: 40px;" [disabled]="!loginForm.valid">Sign up</button>
				
			
				<!-- <button [disabled]="!loginForm.valid" style="max-width: max-content; height: 35px; background-color:thistle; margin-bottom: 25px; text-decoration-color: white;">Login</button> -->
		</table>
			</form>
		</div>
	</div>
	